.header {
    height: 58px;
    line-height: 58px;
    @extend %bkg3d434d;
    
    .title {
        margin-left: 17px;
        padding-left: 87px;
        background: url(#{$image_path}logo.png) no-repeat;
        background-position: left center;
        @extend %float-left;
        @extend %font-normal;
        @extend %font-eighteen;
        
        .link {
            display: block;
            @extend %colorfff;
        }
    }
    
    .name {
        padding: 0 20px;
        @extend %relative;
        @extend %float-right;
        @extend %font-sixteen;
        @extend %colorfff;
        @extend %before;
    
        &:before {
            top: 50%;
            left: 0;
            width: 14px;
            height: 14px;
            margin-top: -7px;
            background: url(#{$image_path}user-icon.png) no-repeat;
            background-position: center center;
            background-size: 14px 14px;
        }
    }
    
    .exit {
        height: 100%;
        padding: 0 20px;
        @extend %relative;
        @extend %float-right;
        @extend %font-sixteen;
        @extend %colorfff;
        @extend %before;
    
        &:before {
            top: 50%;
            left: 0;
            width: 14px;
            height: 14px;
            margin-top: -7px;
            background: url(#{$image_path}exit-icon.png) no-repeat;
            background-position: center center;
            background-size: 14px 14px;
        }
    }
}

.main {
    @extend %relative;
    @extend %flex-box;
    
    .bar {
        width: 10.83333333333333%;
        height: 100%;
        @extend %flex-elements-none;
        @extend %bkg696e76;
    }
    
    .top-list {
        .top-title {
            height: 51px;
            line-height: 51px;
            padding-left: 29.45%;
            @extend %relative;
            @extend %font-normal;
            @extend %font-sixteen;
            @extend %colorfff;
            @extend %before;
            @extend %pointer;
            
            &:hover {
                @extend %bkg3d434d;
            }
            
            &:before {
                top: 50%;
                left: 15px;
                width: 15px;
                height: 15px;
                margin-top: -7.5px;
            }
            
            .text {
                @extend %relative;
                @extend %after;
                
                &:after {
                    top: 50%;
                    right: -17px;
                    width: 0;
                    height: 0;
                    margin-top: -2px;
                    border-top: 4px solid #fff;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                }
            }
        }
        
        .active {
            @extend %bkgdd5a58;
    
            &:hover {
                @extend %bkgdd5a58;
            }
        }
        
        .fl {
            &:before {
                background: url(#{$image_path}feedbackList-icon.png) no-repeat;
                background-position: center center;
                background-size: 15px 15px;
            }
        }
    
        .im {
            &:before {
                background: url(#{$image_path}im-icon.png) no-repeat;
                background-position: center center;
                background-size: 15px 15px;
            }
        }
    
        .am {
            &:before {
                background: url(#{$image_path}authority-icon.png) no-repeat;
                background-position: center center;
                background-size: 15px 15px;
            }
        }
        
        .second-title {
            height: 41px;
            line-height:41px;
            @extend %text-align;
            @extend %font-fourteen;
            @extend %colorfff;
            @extend %pointer;
    
            &:hover {
                @extend %bkg3d434d;
            }
        }
    }
    
    .container {
        width: 89.16666666666667%;
        height: 100%;
        padding: 30px;
        @extend %flex-elements-auto;
        @extend %bkgfff;
        @extend %box-sizing;
    }
}

.filter {
    overflow: visible;
    @extend %flex-box;
    @extend %font-zero;
    
    &:first-child {
        margin-top: 30px;
    }
    
    &:nth-child(2) {
        margin: 20px 0;
    }
    
    .name {
        display: inline-block;
        height: 35px;
        line-height: 35px;
        @extend %font-normal;
        @extend %font-fourteen;
        @extend %color3a3a3a;
    }
    
    .select {
        display: inline-block;
        height: 33px;
        line-height: 33px;
        border: 1px solid #e0e0e0;
        z-index: 1;
        @extend %relative;
        @extend %font-fourteen;
        @extend %color999;
        @extend %after;
        
        &:after {
            top: 50%;
            right: 5px;
            width: 0;
            height: 0;
            margin-top: -2px;
            border-top: 4px solid #999999;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
        }
        
        .text {
            padding-left: 10px;
        }
    }
    
    .list {
        top: 34px;
        left: -1px;
        width: 100%;
        border: 1px solid #e0e0e0;
        border-top: none;
        @extend %absolute;
        @extend %bkgfff;
        
        li {
            padding-left: 10px;
        }
    }
    
    .property {
        width: 47.526%;
        @extend %flex-elements-none;
        
        .name {
            width: 5.834%;
        }
        
        .select {
            width: 21.042%;
            margin-left: 2.084%;
        }
    }
    
    .date {
        width: 30.892%;
        margin-left: 1.981%;
        @extend %flex-elements-none;
    
        .name {
            width: 20.513%;
        }
        
        .select {
            width: 33.975%;
            @extend %font-twelve;
        }
        
        .split {
            display: inline-block;
            width: 10.26%;
            height: 35px;
            line-height: 35px;
            @extend %text-align;
            @extend %font-normal;
            @extend %font-fourteen;
            @extend %color3a3a3a;
        }
    }
    
    .classify {
        width: 39.11%;
    
        .name {
            width: 14.18%;
        }
    
        .select {
            width: 25.57%;
            margin-left: 2.532%;
        }
    }
}

.question-list {
    li {
        padding: 20px 0;
        border-top: 1px solid #efefef;
        @extend %flex-box;
        
        &:first-child {
            border-top: none;
        }
    }
    
    .source {
        width: 12.773%;
        @extend %flex-elements-none;
        @extend %font-fourteen;
    }
    
    .equipment {
        @extend %font-normal;
        @extend %color3a3a3a;
    }
    
    .version {
        @extend %color999;
    }
    
    .content {
        width: 52.476%;
        line-height: 24px;
        @extend %flex-elements-none;
        @extend %font-fourteen;
    }
    
    .text {
        height: 48px;
        @extend %color3a3a3a;
    }
    
    .info {
        @extend %color999;
    }
    
    .identity {
        padding-right: 17px;
        @extend %relative;
        @extend %after;
    
        &:after {
            top: 50%;
            right: 0;
            width: 1px;
            height: 15px;
            margin-top: -7.5px;
            @extend %bkge6e6e6;
        }
    }
    
    .date {
        padding-left: 11px;
    }
    
    .time {
        padding-left: 11px;
    }
    
    .classify {
        width: 16.238%;
        @extend %flex-elements-none;
    }
    
    .status {
        width: 10.496%;
        @extend %flex-elements-none;
    }
    
    .operation {
        width: 8.02%;
        @extend %flex-elements-none;
        
        .btn {
            width: 100%;
            height: 33px;
            line-height: 33px;
            border: 1px solid #e0e0e0;
            @extend %text-align;
            @extend %bkgf9f9f9;
            @extend %font-fourteen;
            
            &:last-child {
                margin-top: 10px;
            }
        }
    }
}

.page {
    bottom: 30px;
    right: 30px;
    @extend %absolute;
    @extend %flex-box;
    
    li {
        height: 22px;
        line-height:22px;
        border: 1px solid #e0e0e0;
        @extend %flex-elements-none;
        @extend %text-align;
        @extend %font-twelve;
    }
    
    a {
        display: block;
        @extend %color3a3a3a;
    }
    
    .up {
        width: 48px;
        margin-right: 2px;
    }
    
    .down {
        width: 48px;
        margin-left: 2px;
    }
    
    .num {
        width: 22px;
        margin: 0 2px;
    }
    
    .ellipsis {
        margin: 0 8px;
        @extend %font-twelve;
        @extend %color3a3a3a;
    }
}