.popup {
    top: 50%;
    left: 0;
    right: 0;
    width: 700px;
    //height: 470px;
    margin-top: -235px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dcdcdc;
    z-index: 13;
    @extend %fixed;
    @extend %bkgfff;
    @extend %box-sizing;
    
    .title {
        height: 47px;
        line-height: 47px;
        border-bottom: 1px solid #e0e0e0;
        @extend %relative;
        @extend %bkg696e76;
        @extend %font-normal;
        @extend %font-eighteen;
        @extend %colorfff;
        
        .text {
            padding-left: 20px;
        }
        
        .close {
            top: 0;
            right: 0;
            width: 15px;
            height: 15px;
            padding: 16px 20px;
            @extend %absolute;
            @extend %before;
            @extend %after;
            @extend %unbox-sizing;
            
            &:before {
                top: 23px;
                left: 18px;
                width: 20px;
                height: 2px;
                @extend %bkgfff;
                @include transform(-45);
            }
    
            &:after {
                top: 23px;
                left: 18px;
                width: 20px;
                height: 2px;
                @extend %bkgfff;
                @include transform(45);
            }
            
            &:hover {
                @include transition(0.6);
                @include transform(360);
            }
        }
    }
    
    .list {
        margin: 15px 4.3% 0;
        @extend %relative;
        @extend %flex-box;
        
        .item {
            width: 50%;
            //height: 40px;
            line-height: 40px;
            //@extend %flex-box;
            align-self: auto;
            @extend %flex-elements-none;
            
            &:last-child {
                width: 100%;
                
                .key {
                    width: 20%;
                }
                
                .value {
                    width: 53.296%;
                }
            }
        }
        
        .key {
            width: 40%;
            @extend %float-left;
            @extend %text-right;
            @extend %font-normal;
            @extend %font-fourteen;
            @extend %color333;
        }
        
        .value {
            width: 60%;
            line-height: 20px;
            @extend %float-left;
            @extend %text-left;
            @extend %font-fourteen;
            @extend %color333;
        }
        
        .wrapper {
            display: inline-block;
            vertical-align: -50%;
            word-break: break-all;
        }
        
        .table {
            border: 1px solid #dcdcdc;
        }
        
        .tr {
            height: 30px;
            line-height:30px;
            border-top: 1px solid #dcdcdc;
            @extend %flex-box;
            @extend %text-center;
            @extend %font-fourteen;
            @extend %color3a3a3a;
            
            &:first-child {
                border-top: none;
            }
        }
        
        .th {
            width: 50%;
            @extend %flex-elements-none;
            @extend %bkgf5f6f8;
        }
        
        .td {
            width: 50%;
            @extend %flex-elements-none;
        }
        
        .time {
            padding-left: 9%;
        }
    }
    
    .native {
        .item {
            &:nth-last-child(2) {
                width: 100%;
            
                .key {
                    width: 17.5%;
                }
            
                .value {
                    width: 82.5%;
                }
            }
        
            &:nth-last-child(3) {
                width: 100%;
            
                .key {
                    width: 17.5%;
                }
            
                .value {
                    width: 82.5%;
                }
            }
        
            &:nth-last-child(4) {
                top: 120px;
                right: 0;
                @extend %absolute;
                
                .wrapper {
                    overflow: hidden;
                    max-height: 100px;
                    padding-top: 10px;
                    @include multiRowEllipsis(5);
                }
            }
        
            &:nth-last-child(5) {
                width: 100%;
            
                .key {
                    width: 17.5%;
                }
            
                .value {
                    width: 82.5%;
                }
            }
        }
    }
    
    .web {
        .item {
            padding-bottom: 5px;
        }
    }
    
    .remark {
        //bottom: 20px;
        //left: 4.3%;
        //width: 91.978%;
        height: 36px;
        line-height: 18px;
        margin: 20px 4.3%;
        //padding-left: 8.74%;
        @extend %relative;
        //@extend %bkgfffde1;
        @extend %font-fourteen;
        @extend %color3a3a3a;
        //@extend %box-sizing;
        @extend %before;
        @extend %after;
        
        &:before {
            top: 9px;
            left: 1.985%;
            width: 17px;
            height: 17px;
            //margin-top: -8.5px;
            border-radius: 50%;
            @extend %bkgffd65a;
        }
    
        &:after {
            top: 12px;
            left: 3.231%;
            width: 1px;
            height: 1px;
            //margin-top: -5.5px;
            border-top: 8px solid #ffffff;
            border-bottom: 2px solid #ffffff;
        }
        
        .wrapper {
            width: 100%;
            padding: 5px 1.56% 5px 6.231%;
            display: inline-block;
            vertical-align: -50%;
            @extend %bkgfffde1;
            @extend %box-sizing;
        }
    }
}