.side-bar {
    flex: none;
    align-self: auto;
    width: 10.83333333333333%;
    //height: 100%;
    @extend %bkg696e76;
    
    .top-title {
        height: 51px;
        line-height: 51px;
        @extend %relative;
        @extend %font-normal;
        @extend %font-sixteen;
        @extend %before;
        @extend %pointer;
        
        &:hover {
            @extend %bkgdd5a58;
        }
        
        &:before {
            top: 50%;
            left: 10px;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            z-index: 1;
        }
        
        .text {
            display: block;
            padding-left: 29.45%;
            @extend %relative;
            @extend %after;
            @extend %colorfff;
            
            &:after {
                top: 50%;
                right: -17px;
                width: 0;
                height: 0;
                margin-top: -2px;
                border-top: 4px solid #fff;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
            }
        }
    
        .link {
            display: block;
            padding-left: 29.45%;
            @extend %relative;
            @extend %after;
            @extend %colorfff;
        
            &:after {
                top: 50%;
                right: -17px;
                width: 0;
                height: 0;
                margin-top: -2px;
                border-top: 4px solid #fff;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
            }
        }
    
        .active {
            @extend %bkgdd5a58;
        
            &:hover {
                @extend %bkgdd5a58;
            }
        }
    }
    
    .icon-1 {
        &:before {
            background: url(#{$svg_path}feedback.svg) no-repeat;
            background-position: center center;
            background-size: auto 20px;
        }
    }
    
    .icon-2 {
        &:before {
            background: url(#{$svg_path}service.svg) no-repeat;
            background-position: center center;
            background-size: auto 20px;
        }
    }
    
    .icon-3 {
        &:before {
            background: url(#{$svg_path}authority.svg) no-repeat;
            background-position: center center;
            background-size: auto 20px;
        }
    }
    
    .second-title {
        height: 41px;
        line-height:41px;
        @extend %text-align;
        @extend %font-fourteen;
        
        @extend %pointer;
        
        &:hover {
            @extend %bkg3d434d;
        }
        
        .link {
            display: block;
            @extend %colorfff;
        }
        
        .active {
            @extend %bkg3d434d;
        }
    }
}