/*
Change by PengWu on 2017-09-11 19:01:27
*/
.filter, .question-list li, .page {
  overflow: hidden;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.filter .property, .filter .date, .question-list .source, .question-list .content, .question-list .classify, .question-list .status, .question-list .operation, .page li {
  flex: none;
  align-self: center;
}

.filter .select, .question-list .identity {
  position: relative;
}

.filter .select:after, .question-list .identity:after, .filter .list, .page {
  position: absolute;
}

.filter .date .split, .question-list .operation .btn, .page li {
  text-align: center;
}

.filter {
  font-size: 0px;
}

.filter .date .select, .page li, .page .ellipsis {
  font-size: 12px;
}

.filter .name, .filter .select, .filter .date .split, .question-list .source, .question-list .content, .question-list .operation .btn {
  font-size: 14px;
}

.filter .name, .filter .date .split, .question-list .equipment {
  font-weight: normal;
}

.filter .list {
  background-color: #ffffff;
}

.question-list .operation .btn {
  background-color: #f9f9f9;
}

.question-list .identity:after {
  background-color: #e6e6e6;
}

.filter .select, .question-list .version, .question-list .info {
  color: #999999;
}

.filter .name, .filter .date .split, .question-list .equipment, .question-list .text, .page a, .page .ellipsis {
  color: #3a3a3a;
}

.filter .select:after, .question-list .identity:after {
  content: '';
}

.filter {
  overflow: visible;
  margin: 20px 0;
}

.filter:first-child {
  margin-top: 30px;
}

.filter .name {
  display: inline-block;
  height: 35px;
  line-height: 35px;
}

.filter .select {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  border: 1px solid #e0e0e0;
  z-index: 1;
}

.filter .select:after {
  top: 50%;
  right: 5px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 4px solid #999999;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.filter .select .text {
  padding-left: 10px;
}

.filter .list {
  top: 34px;
  left: -1px;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-top: none;
}

.filter .list li {
  padding-left: 10px;
}

.filter .property {
  width: 47.526%;
}

.filter .property .name {
  width: 5.834%;
}

.filter .property .select {
  width: 21.042%;
  margin-left: 2.084%;
}

.filter .date {
  width: 30.892%;
  margin-left: 1.981%;
}

.filter .date .name {
  width: 20.513%;
}

.filter .date .select {
  width: 33.975%;
}

.filter .date .split {
  display: inline-block;
  width: 10.26%;
  height: 35px;
  line-height: 35px;
}

.filter .classify {
  width: 39.11%;
}

.filter .classify .name {
  width: 14.18%;
}

.filter .classify .select {
  width: 25.57%;
  margin-left: 2.532%;
}

.question-list li {
  padding: 20px 0;
  border-top: 1px solid #efefef;
}

.question-list li:first-child {
  border-top: none;
}

.question-list .source {
  width: 12.773%;
}

.question-list .content {
  width: 52.476%;
  line-height: 24px;
}

.question-list .text {
  height: 48px;
}

.question-list .identity {
  padding-right: 17px;
}

.question-list .identity:after {
  top: 50%;
  right: 0;
  width: 1px;
  height: 15px;
  margin-top: -7.5px;
}

.question-list .date {
  padding-left: 11px;
}

.question-list .time {
  padding-left: 11px;
}

.question-list .classify {
  width: 16.238%;
}

.question-list .status {
  width: 10.496%;
}

.question-list .operation {
  width: 8.02%;
}

.question-list .operation .btn {
  width: 100%;
  height: 33px;
  line-height: 33px;
  border: 1px solid #e0e0e0;
}

.question-list .operation .btn:last-child {
  margin-top: 10px;
}

.page {
  bottom: 30px;
  right: 30px;
}

.page li {
  height: 22px;
  line-height: 22px;
  border: 1px solid #e0e0e0;
}

.page a {
  display: block;
}

.page .up {
  width: 48px;
  margin-right: 2px;
}

.page .down {
  width: 48px;
  margin-left: 2px;
}

.page .num {
  width: 22px;
  margin: 0 2px;
}

.page .ellipsis {
  margin: 0 8px;
}
