/*
Change by PengWu on 2017-09-11 18:56:39
*/
.popup .list .key, .popup .list .value {
  float: left;
}

.popup .list, .popup .list .tr {
  overflow: hidden;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.popup .list .item, .popup .list .th, .popup .list .td {
  flex: none;
  align-self: center;
}

.popup .title, .popup .list, .popup .remark {
  position: relative;
}

.popup .title .close:before, .popup .remark:before, .popup .title .close:after, .popup .remark:after, .popup .title .close, .popup .native .item:nth-last-child(4) {
  position: absolute;
}

.popup {
  position: fixed;
}

.popup .list .value {
  text-align: left;
}

.popup .list .tr {
  text-align: center;
}

.popup .list .key {
  text-align: right;
}

.popup .list .key, .popup .list .value, .popup .list .tr, .popup .remark {
  font-size: 14px;
}

.popup .title {
  font-size: 18px;
}

.popup .title, .popup .list .key {
  font-weight: normal;
}

.popup, .popup .title .close:before, .popup .title .close:after {
  background-color: #ffffff;
}

.popup .title {
  background-color: #696e76;
}

.popup .list .th {
  background-color: #f5f6f8;
}

.popup .remark .wrapper {
  background-color: #fffde1;
}

.popup .remark:before {
  background-color: #ffd65a;
}

.popup .title {
  color: #ffffff;
}

.popup .list .key, .popup .list .value {
  color: #333333;
}

.popup .list .tr, .popup .remark {
  color: #3a3a3a;
}

.popup, .popup .remark .wrapper {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.popup .title .close {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.popup .title .close:before, .popup .remark:before {
  content: '';
}

.popup .title .close:after, .popup .remark:after {
  content: '';
}

.popup {
  top: 50%;
  left: 0;
  right: 0;
  width: 700px;
  margin-top: -235px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dcdcdc;
  z-index: 13;
}

.popup .title {
  height: 47px;
  line-height: 47px;
  border-bottom: 1px solid #e0e0e0;
}

.popup .title .text {
  padding-left: 20px;
}

.popup .title .close {
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  padding: 16px 20px;
}

.popup .title .close:before {
  top: 23px;
  left: 18px;
  width: 20px;
  height: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.popup .title .close:after {
  top: 23px;
  left: 18px;
  width: 20px;
  height: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.popup .title .close:hover {
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.popup .list {
  margin: 15px 4.3% 0;
}

.popup .list .item {
  width: 50%;
  line-height: 40px;
  align-self: auto;
}

.popup .list .item:last-child {
  width: 100%;
}

.popup .list .item:last-child .key {
  width: 20%;
}

.popup .list .item:last-child .value {
  width: 53.296%;
}

.popup .list .key {
  width: 40%;
}

.popup .list .value {
  width: 60%;
  line-height: 20px;
}

.popup .list .wrapper {
  display: inline-block;
  vertical-align: -50%;
  word-break: break-all;
}

.popup .list .table {
  border: 1px solid #dcdcdc;
}

.popup .list .tr {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #dcdcdc;
}

.popup .list .tr:first-child {
  border-top: none;
}

.popup .list .th {
  width: 50%;
}

.popup .list .td {
  width: 50%;
}

.popup .list .time {
  padding-left: 9%;
}

.popup .web .item {
  padding-bottom: 5px;
}

.popup .native .item:nth-last-child(2) {
  width: 100%;
}

.popup .native .item:nth-last-child(2) .key {
  width: 17.5%;
}

.popup .native .item:nth-last-child(2) .value {
  width: 82.5%;
}

.popup .native .item:nth-last-child(3) {
  width: 100%;
}

.popup .native .item:nth-last-child(3) .key {
  width: 17.5%;
}

.popup .native .item:nth-last-child(3) .value {
  width: 82.5%;
}

.popup .native .item:nth-last-child(4) {
  top: 120px;
  right: 0;
}

.popup .native .item:nth-last-child(4) .wrapper {
  overflow: hidden;
  max-height: 100px;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.popup .native .item:nth-last-child(5) {
  width: 100%;
}

.popup .native .item:nth-last-child(5) .key {
  width: 17.5%;
}

.popup .native .item:nth-last-child(5) .value {
  width: 82.5%;
}

.popup .remark {
  height: 36px;
  line-height: 18px;
  margin: 20px 4.3%;
}

.popup .remark:before {
  top: 9px;
  left: 1.985%;
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.popup .remark:after {
  top: 12px;
  left: 3.231%;
  width: 1px;
  height: 1px;
  border-top: 8px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.popup .remark .wrapper {
  width: 100%;
  padding: 5px 1.56% 5px 6.231%;
  display: inline-block;
  vertical-align: -50%;
}
